<div class="large-7 large-centered columns">
	<div id="accordion">
		<h3 class="add_group_title">Add Group</h3>
		<div class="group-accordion">
			<%= simple_form_for @group do |f| %>
			<%= f.input :name, label: 'Group Name' %>
			<%= f.button :submit, label: 'Create Group' %>
			<% end %>
	  </div>
  	<% Group.all.each do |group| %>
	  	<h3 class="group_title"><%= group.name %></h3>
	  	<div class="group-accordion">
		    <table class="group-counter">
		    	<tr>
		    		<th>
		   				Cards: <%= group.cards.count %>
		   			</th>
		   			<th>
		   				Members: <%= group.users.count %>
		   			</th>
		   			<th>
		   				<%= link_to 'Study', group %>
		   			</th>
		   		</tr>
		    </table>
	  	</div>
  	<% end %>
	</div>
</div>
