<div class="row">
	<h3><%= @group.name %></h3>
</div>

<div class="row">
	<div class="large-5 columns">
		<%= render 'shared/card_feed' %>
	</div>
	<div class="large-3 columns">
		<%= render 'shared/new_card_form' %>
	</div>
	<div class="large-4 columns">
		<%= button_to "Join", action: :join, method: :join, class: "button" if !Membership.member?(current_user, @group) %>
		<span>List users here</span>
		<% Membership.group_members(@group).each do |m|  %>
			<table>
				<tr>
					<td>Profile Pic:</td>
					<td><%= "#{m.user.first_name} #{m.user.last_name}" %></td>
				</tr>
			</table>
		<% end %>
	</div>
</div>

