<div class="row">
  <div class="large-6 columns">
    <h5 class="group_title"><%= @group.name %>:</h5>
    <%= render 'shared/new_card_form' %>
    <%= render 'shared/csv_uploader' %>
    <%= render 'shared/member_feed' %>
  </div>

  <% if @group.cards.exists? %>
  <h5 class="text-center">Cards: <%= @group.cards.count %></h5>
  <div class="large-6 columns">
  	<%= render 'shared/card_feed' %>
  </div>
  <% end %>
</div>
