<% @group.cards.each do |c| %>
  <div id="card" class="card">
    <div class="front side">
        <p>Title: <%= c.title %></p>
        <p>Question: <%= c.question %></p>
    </div>
    <div class="back side">
        <p>Answer: <%= c.answer %></p>
        <p><%= link_to "Edit Card", edit_card_path(c) %></p>
        <p>Topics: <%= raw c.topics.map(&:name).map { |t| link_to t, topic_path(t) }.join(', ') %></p>
    </div>
  </div>
<% end %>
