<div class="row">
  <h5 class="title">Edit This Card</h5>
</div>

<div class="large-6 columns">
  <%= simple_form_for @card do |f| %>
    <%= f.input :title, label: 'Title of card' %>
    <%= f.input :question, label: 'Question' %>
    <%= f.input :answer, label: 'Answer' %>
    <%= f.input :topic_list, label: 'TagaTopic' %>
    <%= f.button :submit, class: "button" %>
  <% end %>
</div>
