<!DOCTYPE html>
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Ruby Flash" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head> 

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "#{name} alert-box" %>
    <% end -%>

    <%= yield %>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
